.competences {
    margin-top: 110px;
    max-height: 850px;
}



.stack-and-tools {
    width: 100%;
    height: 100%;
   display: flex;
   flex-wrap: wrap;
  justify-content: center;

}


@media all and (min-width: 1080px) and (max-width: 1300px){
    .bande {
        width: 850px;
    }
 }

 @media all and (min-width: 820px) and (max-width: 1079px){
    .bande {
        width: 745px;
    }
 }

 @media all and (min-width: 680px) and (max-width: 819px){
    .bande {
        width: 620px;
    }
 }

 @media all and (min-width: 400px) and (max-width: 679px){
    .bande {
        width: 500px;
    }
 }