body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.portfolio {
  height: 100%;
}

.a-link {
  text-decoration: none;
}

header{
  height: 130px;
  background-color: #6474AB;
  display: flex;
}

.navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  padding-top: 20px;
  font-weight: bold;
 /* font-family: 'Stick No Bills', sans-serif;*/
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  font-size: max(1.3vw, 9px);
}

.logo {
  height: 7vw;
  min-height: 70px;
  max-height: 120px;
  padding-top: 4px;
  padding-left: 35px;
}

.landing{
  background-color: black;
   /* Fixe l'image en haut à gauche de la page 
 position: fixed; 
 top: 130px; 
 left: 0; 
 
 min-width: 100%;
 min-height: 100%;*/
}

.logo-landing {
  height: auto;
  width: 40%;
  min-width: 300px;
}

.nav-links:hover {
  color: #2684FF !important;
}

.test{
  height: 100px;
  background-color: white;
}

.position {
  animation: App-logo-spin infinite 20s linear;
}

.logo-and-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.presentation{
  width: 40%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-name-and-job {

  list-style-type: none;
  padding-left: 0;
}

.name {
  display: flex;
  justify-content: center;
  font-size: min(max(25px, 4vw), 20px);
  font-weight: bold;
  color: #2684FF;
}

.job {
  padding-top: 27px;
  font-size: min(max(25px, 11.5vw), 22px);
  padding-bottom: 30px;
  
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px; 
  height: 42px; 
  border: white solid 2px;
}

.know-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  border: solid 2px #2684FF;
  color: #2684FF; 
}

.logo-mac {
 /* width: 02%;
  position: absolute;
  z-index: -1;
  float: right;
  margin-left: 500px;*/
}

.position {
  z-index: 1;
  position: relative;
}

@media all and (min-width: 891px) and (max-width: 1200px) {
  .logo-and-presentation {
    flex-direction: column;
  }

  /*.logo-landing {
    height: auto;
    width: 50%;
  }*/

  .position {
    display: none;
  }

}


@media all and (max-width: 890px) {
 

 

  .logo-and-presentation {
    flex-direction: column;
  }

  /*.logo-landing {
    height: auto;
    width: 50%;
  }*/

  .position {
    display: none;
  }

}

@media all and (max-width: 600px){
  /*.nav {    
    padding: 1px;
  }

  .box {
    height: 29px;
  }

  .logo {

    padding-left: 1px;
  }*/
  .nav {
    visibility: hidden;
  }
  .box {
    height: 29px;
  }

  .logo {

    padding-left: 1px;
  }
 
}