.whoIam {
    /*height: 800px;*/
    background-color: white;
    max-height: 850px;
}

.photo { 
    position: absolute;
    right: 885px;
}

.container-photo {
    width: 100%; 
}
.whoIAm {
    position: relative;
    
}
.bandeau {
    font-family: 'Stick No Bills', sans-serif;
    height: 126px;
    width: 50%;
    background-color: #6474AB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(max(40px, 2.3vw), 22px);
    border-radius: 14px;
    max-height: 85px;
}

.center{
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-and-me {

    padding-top: 64px; 
}

.button {
    margin-top: 4%;
}

.all-with {
    width: 100%;
}

.content {
    width: 75%;

    margin-top: 30px;
    height: 425px;
    font-size: max(1.5vw, 12px);
    font-size: min(max(25px, 1.5vw), 17px);
    font-weight: bold;
}

.top {
    margin-top: 80px;
}

.cv {
    background-color: #407BFF;
    height: 52px;
    width: 151px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /*margin-bottom: 30px;*/
}
.button {
    margin-top: 8%;
}

.content {
    font-size: 23px;
}
@media all and (max-width: 1374px) {
    .photo { 
       
        display: none;        
    }

  
    .cv {
        display: none;
    }



  
}

@media all and (min-width: 1674px) {
 
  
    .photo {
        right: 1000px;
    }

    .button {
        margin-top: 8%;
    }

    .content {
        font-size: 23px;
    }
}


@media all and (max-width: 600px) {
    .content {
        font-size: 17px !important;
    }
}